<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <title>vue-todo</title>
</head>

<body>
  <section class="todoapp">
    <header class="header">
      <h1> Todos: </h1>
      <input class="new-todo" v-model="newTodo" v-on:keyup.enter="addTodo" placeholder="What needs to be done?" autofocus>
    </header>
    <section class="main">
      <ul class="todo-list">
        <!-- loops through all the items in todos -->
        <li v-for="todo in todos"
        :class="{editing: todo == editedTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed" />
          <label @dblclick="editTodo(todo)"> {{ todo.title }} </label>
          <button class="destroy" v-on:click="removeTodo(todo)"></button>
        </div>
         <!-- @ instead of v-on when someone edits input when they clock out or press enter done edit is set -->
        <input class="edit" type="text"
        v-model="todo.title"
        @blur="doneEdit(todo)"
        @keyup.enter="doneEdit(todo)" />
        </li>
      </ul>
      <input class="toggle-all" id="toggle-all" type="checkbox">
      <label for="toggle-all"> Mark all as complete </label>
      <ul class="todo-list"></ul>
    </section>
    <footer class="footer"></footer>
  </section>
  <!-- built files will be auto injected -->
</body>

</html>